html, body{
	padding: 0px;
	margin: 0px;
}
.search{
	text-align: right;
}
nav{
	padding: 10px 40px;
	background-color: rgb(220, 220, 220);
}
#search-text{
	border: 1px solid white;
	border-radius: 15px;
	background-color: rgb(220, 220, 220);
	padding: 0px 7px;
}
#search-text:hover{
	background-color: white;
}
#search-text:focus{
	background-color: white;
	outline: none;
	border-color: yellow;
}
#ok{
	border-radius: 12px;
    	background-color: white;
    	box-shadow: none;
    	border: 0px;
}